#scroll-body {
	.navbar-header {
		a {
			small {
				font-weight: normal;
				font-style: italic;
			}
		}
	}

	.navbar {
		& > .container-fluid {
			padding-right: 0px;

			li {
				a {
					font-size: 1.4em;
					padding: 0px 20px;
					color: #FFFFFF;
					.fa {
						color: #FFFFFF;
					}
					span {
						visibility: hidden;
						display: none;
					}
				}
				&.image {
					a {
						margin: 16px 0px;
						img {
							height: 42px;
							margin-right: 10px;
						}
					}
				}
				&.icon {
					a {
						font-size: 1.85em;

						.fa {
							text-align: center;
						}
					}
				}
				&.spacer {
					width: 5em;
					min-height: 10px;
				}
				&#user {
					background-color: rgba(122, 194, 154, 0.7);
				}
				&#logout {
					background-color: rgba(235, 94, 40, 0.7);
				}
				&#gotosite {
					background-color: rgba(104, 179, 200, 0.7);
				}
			}
		}
	}
}

.wrapper-full-page {
	.card .header {
		padding: 0px 15px 10px;
	}
}

@media (max-width: 992px) {
	.perfect-scrollbar-off .main-panel {
	    overflow: auto;
	    overflow-x: hidden;
	}
	.nav-mobile-menu {
		border-bottom: 1px solid #9A9A9A;
    	padding-bottom: 25px;
		
		li {
			&.spacer {
				visibility: hidden;
				display: none;
			}

			a {
				padding: 10px 15px;

				img {
					height: 30px;
					margin-right: 7px;
				}
				span {
					visibility: visible;
					display: inline-block;
				}
			}
		}
	}
}