.sidebar .logo {
	img {
		height: 32px;
	}
}

.perfect-scrollbar-off .sidebar .sidebar-wrapper {
    overflow: hidden;
    overflow-y: auto;
}

.sidebar .nav .nav i {
	font-size: 16px;
	line-height: 19px;
	margin-right: 5px;
}