body, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, a, .td-name, td {
	font-family: 'Open Sans', 'Roboto', 'Muli', "Helvetica", Arial, sans-serif;
}

a, .btn {
	.fa {
		width: 1.4em;
		text-align: left;
	}
}

.card-footer {
	.text-right, .text-center {
		a, .btn {
			.fa {
				text-align: right;
			}
		}
	}
}

// http://cssdeck.com/labs/css3-webkit-vertical-scrollbars

/*
 *  STYLE BODY
 */

#scroll-body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 4px;
	background-color: #F5F5F5;
}

#scroll-body::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#scroll-body::-webkit-scrollbar-thumb
{
	border-radius: 4px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #66615b;
}

/*
 *  STYLE SIDEBAR
 */

#scroll-sidebar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 4px;
	background-color: #66615b;
}

#scroll-sidebar::-webkit-scrollbar
{
	width: 12px;
	background-color: #66615b;
}

#scroll-sidebar::-webkit-scrollbar-thumb
{
	border-radius: 4px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D1CFCD;
}