form .form-group .img-thumbnail {
	max-width: 200px;
	max-height: 200px;
	margin-top: 10px;
}

.toolbar {
	padding-bottom: 15px;
    margin-bottom: 25px;
    border-bottom: 1px solid $table-line-color;
}